@use '../../styles/variables' as *;

.layout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: $header-height 1fr;
  grid-template-columns: 0 1fr;
  grid-template-areas: 
    "header header"
    "sidebar main";

  &.sidebarOpen {
    grid-template-columns: $sidebar-width 1fr;
  }
}

.main {
  grid-area: main;
  padding: 2rem;
  overflow-y: auto;
} 