@use '../../styles/variables' as *;

.sidebar {
  grid-area: sidebar;
  background: $white;
  border-right: 1px solid $border-color;
  padding: 1rem;
  overflow: hidden;

  nav {
    width: $sidebar-width;
    @include flex-column;
    gap: 0.5rem;

    a {
      white-space: nowrap;
      padding: 0.5rem;
      @include link-reset;
      @include hover-effect;
    }
  }
} 