.layout {
  display: grid;
  min-height: 100vh;
  grid-template:
    "header header" 60px
    "sidebar main" 1fr
    / 0 1fr;

  &.sidebarOpen {
    grid-template:
      "header header" 60px
      "sidebar main" 1fr
      / var(--sidebar-width) 1fr;
  }
}

.main {
  grid-area: main;
  padding: 2rem;
  overflow-y: auto;
} 